.logo {
  margin-top:50px;
}

#first_section {
background-image: url("../img/header-image.jpg");
height:750px;
margin-top:-50px;
 }

#first_section h1, #first_section p {
  color:#ffffff;
  margin-left:25%;
}

#first_section h1 {
  font-family: "Open Sans Light";
    margin-top:25%;
}

#first_section p {
  font-family: "Open Sans Regular";
    font-size:13px;
}

.iphone {
  margin-left:-350px;
  margin-top:-55px;
  transform:skew(15deg, -10deg);
}

.container .right{
margin-top:100px;
}

/*  THIRD SECTION */

#third_section {
  margin-top:70px;

}

#third_section .col-md-4 {

  height:278.22px;
}

#third_section .one, #third_section .two, #third_section .three,
#third_section .four, #third_section .five, #third_section .seven {
  background-color:#0B1C29;
    padding:50px;
    text-align: justify;
}

#third_section  h3 {
  font-family: "Open Sans Light";
}
#third_section .two {
    background-color:#3E606F;
}

#third_section .three {
    background-color:#91AA9D;
}

#third_section .four {
    background-color:#D1DBBD;
}

#third_section .five {
    background-color:#F2EBC7;
}

#third_section h3, #third_section p {
  color:white;
}

#third_section .four h3, #third_section .four p, #third_section .four a,
#third_section .five h3, #third_section .five p, #third_section .five a {
  color:#0B1C29;
}

#third_section p {
  font-size:14px;
}

#third_section a {
  color:white;
}

/*  FOURTH SECTION */

#fourth_section {
  margin-top:90px;
}

#fourth_section p {
  font-family: "Open Sans Regular";
  font-size:1.2em;
  text-align: justify;
}

#fourth_section h2 {
  font-family: "Open Sans Light";
  font-size:35px;
    margin-bottom:55px;
}

#fourth_section h4 {
    font-family: "Open Sans Semibold";
    font-size:1.2em;
    margin-bottom:25px;
}

/*  FIFTH SECTION */

#fifth_section {
  margin-top:100px;
  height:750px;
  display:block;
  background-image: url("../img/mountain.jpeg");
  transform-origin: center;
}

.power {
  margin-top:25%;
  margin-left:-5%;
  color:white;
}

.power a {
  color:white;
}

.power h1 {
  font-family: "Open Sans Light";
}

/* SIXTH SECTION */

.onboard {
height:80%;
background-color:#17a2b8;
color:white;
padding-bottom:50px !important;
}

.onboard h2 {
  margin-top:100px;
  font-family:"Open Sans Light";
  margin-left:30px;
}

.onboard h3 {
  margin-top:50px;
  font familty:"Open Sans Light";
  margin-bottom:20px;
  font-size:20px;
}

/*  SEVENTH SECTION */

#seventh_section {
  padding-top:148px;
  background-color:#f6f7fa;
    padding-bottom:145px;
}

#seventh_section .buy1, #seventh_section .buy2 {
  padding:25px;
}

.badge-default {
  background-color:#e1e1e1;
}

.badge {
  font-size:1em;
  color:white;
  margin-top:20px;
}

#seventh_section h1{
  font-family:"Open Sans Light";
}

#seventh_section button {
    background-color:#82ca9c;
    border-color:#82ca9c;
}

.buy2 {
  width:570px;
  height:373px;
  background-color: #ffffff;
}

.buy1 h1 {
  margin-top:45px;
}

.buy2 h1 {
  margin-top:45px;
}

/* FOOTER */

#footer {
  height:600px;
  background-color:#192431;
  color:white;
}

#footer .footer1, #footer .footer2 {
  padding-top:125px;
}

#footer h3 {
  margin-bottom:20px;
  font-family:"Open Sans Semibold";
  margin-left:40px;
}

.search {
  width:400px;
  height:50px;
}

#footer button {
  width:50px;
  height:50px;
  margin-top:-5px;
  margin-left:-5px;
  background-color:#82ca9c;
  border-color:#82ca9c;
}

.nav {
  margin-left: -10px !important;
}

.search, .footer2 h3 {
  display:inline-block;
  margin-left:70px !important;
  font-size:1em;
  font-family: "Open Sans Light"
}

.footer1 h3 {
  margin-left:-5px !important;
  font-size:1em;
  font-family: "Open Sans Light"
}

#nav h3 {
  font-size:1.2em;
}

#nav li {
  display:inline-block;
  list-style-type:none;
  font-family:"Open Sans Light";
}

#nav {
  background-color:#192431;
}

@media all and (min-width:768px) and (max-width:1200px) {
#footer button {
  margin-left: 300px !important;
  margin-top: -78px;
  }
.search {
  width:250px;
}
}

@media all and (min-width:0px) and (max-width:768px) {
  .search {
    width:250px !important;
  }
  #footer button {
    margin-left: 446px;
    margin-top: -89px;
    }
  #footer, .footer1, .footer2, .footer3 {
      padding:0px !important;
    }

    .footer1 h3{
      padding-top: 50px;
      padding-left:-5px;
}


@media all and (min-width:0px) and (max-width:769px) {
  #footer button {
    margin-left: -20px;

    margin-top: -5px;
    }
    .onboard {
      height:100% !important;
    }
}
